<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Products Admin Page</h2>
    <a href="/products/add">Add Product</a>
    <ol>
    <% products.forEach(product => { %>
        <li><%= product.name %>-
            <%=product.desc %>-
            <%= product.price %>-
            <%= product.imageUrl %>-
            <a href="/products/<%= product._id %>/edit">Edit</a>-
            <a href="/products/<%= product._id %>/delete">Delete</a>
        </li>
    <% }) %>
    </ol>
</body>
</html>